# Ignore all hidden dotfiles
.*

# Whitelist useful dotfiles
!/.editorconfig
!/.gitignore

# Add a .gitkeep file in an empty
# directory to check it in the repository
!.gitkeep

# Whitelist CircleCI’s config directory
!/.circleci

# Whitelist Babel config file
!/.babelrc

# Ignore modules
/node_modules

# Ignore logs
*.log
