doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Hacker News Top Stories
    meta(name="viewport", content="initial-scale=1")
    meta(name="description", content="A simple and fast Hacker News Top Stories reader – using Instapaper")
    link(rel="icon", href="/favicon.png", type="image/png")
    meta(name="apple-mobile-web-app-title", content="Hacker News")
    style
      include:clean-css ../public/styles.css
  body
    h1#top-stories.page-title Hacker News Top Stories
    nav.main-navigation
      ul.u-list-inline.u-list-reset
        li
          a(href="https://hn.algolia.com", accesskey="s").u-color-light Search
        li
          a(href="/").u-color-light Refresh
        li
          a(href="https://news.ycombinator.com/").u-color-light Hacker News
    main
      block content
    footer.page-footer.u-color-light
      block footer
      p
        a(href="https://github.com/kaelig/readhn") Contribute on GitHub
        = ` — `
        a(href="https://github.com/kaelig/readhn/issues") Report an issue
    script
      include:uglify-js:babel ../public/app.js
    block prefetch
