doctype html
html
  head
    meta(charset="utf-8")
    title Hacker News Top Stories
    meta(name="viewport", content="initial-scale=1")
    link(rel="stylesheet", href="styles.css")
    link(rel="icon", href="/apple-touch-icon.png")
    meta(name="apple-mobile-web-app-title", content="Hacker News")
  body
    h1#top-stories.page-title Hacker News Top Stories
    nav.main-navigation(role="navigation")
      ul.u-list-inline.u-list-reset
        li
          a(href="https://hn.algolia.com", accesskey="s").u-color-light Search
        li
          a(href="/").u-color-light Refresh
        li
          a(href="https://news.ycombinator.com/").u-color-light Hacker News
    block content
    footer.page-footer.u-color-light
      block footer
        a(href="https://github.com/kaelig/readhn") Contribute on GitHub
    script(src="app.js")
