:root {
  --color-highlight: #0074bf;
  --color-background: #F8F2E3;
  --color-body: #242424;
  --color-link: #242424;
  --color-link-hover: var(--color-highlight);
  --color-light: #81807c;

  --spacing-small: .333333rem;
  --spacing-medium: .5rem;
  --spacing-large: 1rem;
  --spacing-x-large: 1.5rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  color: inherit;
}

html {
  background-color: var(--color-background);
  font-family: Georgia;
}

body {
  max-width: 40rem;
  margin: 0 auto;
  padding-left: var(--spacing-large);
  padding-right: var(--spacing-large);
}

.page-title {
  font-weight: normal;
}

.story {
  margin: var(--spacing-small) 0;
  padding: var(--spacing-medium) calc(var(--spacing-medium) * 1.5);
  margin-left: calc(var(--spacing-medium) * -1.5);
  margin-right: calc(var(--spacing-medium) * -1.5);
}

.story__action {
  outline: none;
  text-decoration: none;
  transition: all .15s ease-in-out;
}
.story__action:link {
  color: var(--color-link);
}
.story__action:hover,
.story__action:focus {
  color: var(--color-link-hover);
  background: rgba(0, 0, 0, 0.05);
}

.story__title {
  margin-top: 0;
  margin-bottom: var(--spacing-small);
  font-weight: 400;
}
.story__title a:visited {
  color: var(--color-light);
}

.story__meta {
  color: var(--color-light);
}

.page-footer {
  margin-top: var(--spacing-large);
  padding: var(--spacing-large) calc(var(--spacing-medium) * 1.5);
  margin-left: calc(var(--spacing-medium) * -1.5);
  margin-right: calc(var(--spacing-medium) * -1.5);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/**
 * Utility classes
 */

.u-faux-block-link {
  position: relative;
}
.u-faux-block-link__overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.u-faux-block-link__promote {
  position: relative;
  z-index: 1;
}

.u-list-reset {
  list-style: none;
  padding: 0;
}

.u-list-inline > li {
  display: inline-block;
}
.u-list-inline > li + li {
  margin-left: 1rem;
}

.u-assistive-text {
  position: absolute !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
}

.u-color-light {
  color: var(--color-light);
}

.u-link-no-underline {
  text-decoration: none;
}

.u-link-underline-hover:hover,
.u-link-underline-hover:focus {
  text-decoration: underline;
}
