:root {
  --color-background: #F8F2E3;
  --color-body: #242424;
  --color-link: #242424;
  --color-link-hover: #0074bf;
  --color-light: #81807c;

  --spacing-small: .333333rem;
  --spacing-medium: .5rem;
  --spacing-large: 1rem;
  --spacing-x-large: 1.5rem;
}

html {
  background-color: var(--color-background);
  font-family: Georgia;
}

body {
  max-width: 40rem;
  margin: 0 auto;
  padding-left: var(--spacing-large);
  padding-right: var(--spacing-large);
}

.page-title {
  font-weight: normal;
}

.main-navigation a {
  color: var(--color-light);
}

.story {
  margin: var(--spacing-small) 0;
}

.story__action {
  display: block;
  text-decoration: none;
  padding: var(--spacing-medium);
  margin-left: calc(var(--spacing-medium) * -1);
  outline: none;
  transition: all .15s ease-in-out;
}
.story__action:link {
  color: var(--color-link);
}
.story__action:hover,
.story__action:focus {
  color: var(--color-link-hover);
  background: rgba(0, 0, 0, 0.05)
}
.story__action:visited {
  color: var(--color-light);
}

.story__title {
  margin-top: 0;
  margin-bottom: var(--spacing-small);
  font-weight: 400;
}

.story__hostname {
  color: var(--color-light);
}

.u-list-reset {
  list-style: none;
  padding: 0;
}

.u-list-inline > li {
  display: inline-block;
}
.u-list-inline > li + li {
  margin-left: 1rem;
}
