:root {
  --color-background: rgb(248, 242, 227);
  --color-body: #222;
  --color-link: #444;
  --color-link-hover: #0074bf;
  --color-light: rgb(146, 145, 142);

  --spacing-small: .333333rem;
  --spacing-medium: .5rem;
  --spacing-large: 1rem;
  --spacing-x-large: 1.5rem;
}

html {
  /*font-size: 120%;*/
  background-color: var(--color-background);
  font-family: Georgia;
}

body {
  max-width: 40rem;
  margin: 0 auto;
  padding-left: var(--spacing-large);
  padding-right: var(--spacing-large);
}
.story {
  margin: var(--spacing-small) 0;
}
.story__action {
  display: block;
  text-decoration: none;
  padding: var(--spacing-medium);
  margin-left: calc(var(--spacing-medium) * -1);
}

.story__action:link {
  color: var(--color-link);
}

.story__action:hover,
.story__action:focus {
  color: #0074bf;
  background: rgba(0, 0, 0, 0.05)
}

.story__action:visited {
  color: var(--color-light);
}

.top-stories {
  list-style: none;
  padding: 0;
}

.story__title {
  margin-top: 0;
  margin-bottom: var(--spacing-small);
  font-weight: 400;
}

.story__hostname {
  color: var(--color-light);
}
